<div class="text-sm font-weight-bold text-primary ml-3 mb-4"><a href="/admin/home" class="hover-1">Admin</a> <i class="fa-solid fa-angle-right"> </i> 
<a href="/admin/view-category" class="hover-1">Category</a> <i class="fa-solid fa-angle-right"> </i>
<a href="/admin/view-category" class="hover-1">Update Category</a></div> 
<!-- Begin Page Content -->
<div class="container-fluid p-0">
    <h2 class="font-weight-bold mb-5 pl-5 hover-3 overflow-hidden ">Update Category - <span class="text-capitalize"> {{category.category}}</span></h2>


<div id="addCategory" class="p-5 pt-3">
    <form action="/admin/update-category?id={{category._id}}" method="post">
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                <label for="category" class="form-label"><strong>Category Name</strong></label>
                <input type="text" name="category" required class="form-control text-capitalize" id="category" value="{{category.category}}" placeholder="Category Name">
            </div>
            <div class="form-group col-md-6 mb-0">
            </div>
            <div class="form-group col-md-6 mb-0">
                <label for="description" class="form-label"><strong>Description</strong></label>
                <input type="text" name="description" class="form-control" id="description" value="{{category.description}}" placeholder="Description">
            </div>
            <div class="form-group col-md-6 mb-0">
                <div class="form-group col mt-2 float-left">
                    <button type="submit" class="btn btn-primary mt-4">Update Category</button>
                </div>
            </div>
        </div>
    </form>
    {{#if categoryExist}}
        <strong class="text-danger">Category Already Exist. </strong>
    {{/if}}
</div>
</div>
<!-- /.container-fluid -->