<section class="h-100 gradient-custom" >
  <div class="container py-5">
    <div class="row d-flex justify-content-center my-4">
      <div class="card border-0 text-center" style="height: 37rem; width: 35rem;">
        <h1 class="pb-5"><i class="fa-solid fa-check text-success"></i> ORDER PLACED</h1> 

        <hr>

        <H4></H4>
        <a href="/view-orders" class="btn btn-warning btn-lg text-white fs-4" >GO to Orders</a>

      </div>
    </div>
  </div>
</section>